[Config]
BBOX = 13.167114,52.364699,13.709564,52.655561
CHAT_APP = discord
# discord/telegram
LANGUAGE = en
# en/de/pl

[DB]
SCANNER = mad
# mad/rdm
SCANNER_DB_NAME = 
MANUAL_DB_NAME = 

USER = 
PASSWORD = 
HOST = 0.0.0.0
PORT = 3306

[EX Pass Webhooks]
# Notifications for EX Passes
SEND_WEBHOOKS = True

WEBHOOK_URL = ["https://discordapp.com/api/webhooks/"]
AVATAR_URL = https://raw.githubusercontent.com/ccev/passwatcher/master/icons/pass.png
EMBED_COLOR = 2039584

TG_STICKER = https://raw.githubusercontent.com/ccev/passwatcher/master/icons/pass.webp
TG_BOT_ID = 287587:HGVWnbv6dwjh62gvJ
TG_CHAT_ID = 86725232

[EX Gym Webhooks]
# Notifications for gyms that got an EX Tag - Please only activate after your first Pass notifications went out if you don't want false alarms
SEND_WEBHOOKS = False

WEBHOOK_URL = ["https://discordapp.com/api/webhooks/"]
AVATAR_URL = https://raw.githubusercontent.com/ccev/passwatcher/master/icons/pass.png
EMBED_COLOR = 2039584

TG_STICKER = https://raw.githubusercontent.com/ccev/passwatcher/master/icons/pass.webp
TG_BOT_ID = 287587:HGVWnbv6dwjh62gvJ
TG_CHAT_ID = 86725232

[Leevo PMSF]
ENABLE = False
DIRECTORY = /var/www/html/PMSF/file.json